* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
html, 
body {
  height: 100%;
  width: 100%;
  background-color: beige;
  padding: 20px 40px;
}
.card {
  width: 350px;
  height: 500px;
  background: #5f7479;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center; 

  gap: 20px;                
}

.card {
  margin-bottom: 20px;
}

h1 {
  width: 120px;
  height: 120px;
  background: #000;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  padding: 10px 16px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.parent{
  min-height: 50vh;
  width: 100%;
  background-color: #719d9f;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  border-radius: 10px;
}
h2{
  width: 120px;
  height: 120px;
  background: #000;
  color: #fff;
  font-size: auto;
  font-weight: auto;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
