* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
html, 
body {
  background-color: #111;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color:  white;
  border-radius: 20px ;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card .top{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 30px;

}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top .button{
   display: flex;
   align-items: center;
   border: 1px solid #dadada;
   padding: 3px 6px;
   font-size: 11px;
   border-radius: 5px;
   gap: 3px;
   background-color: transparent;
   color: #b1b1b1;
}
.center{
  border: #111;
}
.center h3{
  font-size: 20px;
  font-weight: 600;
}
.center h3 span{
   font-size: 10px;
   font-weight: 400;
   color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.tag{
  margin-top: 10px;
  display: flex;
  gap: 5px;

}
.tag h4{
  font-size: 11px;
  background-color:#dadada ;
  color: #111;
  padding: 3px 6px;
  font-weight: 400;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #181717;
  padding-top: 25px 5px;

}
.bottom.button{
 color: rgb(247, 222, 176);
 background-color: #1a1818;
  padding: 5px 10px;
  border: 10px;
  border-radius: 10px;
  column-width: 600;
}
